header {
	background-color: #446cb3;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
nav ul li {
	float: left;
}
nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
nav ul li a:hover {
	background-color: #111;
}
nav ul li a.active {
	background-color: #446cb3;
}
#main {
	padding: 20px 10px;
}
header h1 {
	color: white;
	display: block;
	text-align: right;
	padding: 14px 16px;
	margin: 0;
}
footer {
	color: white;
	background: #333;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
}
/* IE 6 */
* html footer {
	position:absolute;
	top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
/* END */
footer p {
	margin: 0;
	padding: 0;
	padding: 14px 16px;
}
.non-grocery-table {
	border-collapse: collapse;
	width: 100%;
}
.non-grocery-table th,
.non-grocery-table td {
	text-align: left;
	padding: 5px;
}
.non-grocery-table,
.non-grocery-table th, 
.non-grocery-table td {
    border-bottom: 1px solid #333;
}
.non-grocery-table tr:nth-child(even) {
	background-color: #f5f5f5
}
.non-grocery-table tr:hover {
	background-color: #ddd
}
.non-grocery-table th {
	background-color: #446cb3;
	color: white;
}
